    <form action="menu">
        <input type="submit" value="Display Menu">
    </form>
    
     <form action="submenu">
        <select name="section">
          {% for section in sections %}
          <option value="{{section}}">{{section}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Display Menu Section">
    </form>

    <form action="add" method="POST">
      <input type="text" name="name" placeholder="Item name">
      <input type="text" name="price" placeholder="Item price">
      <input type="text" name="section" placeholder="Menu section">
      <input type="submit" value="Add Menu Item">
    </form>
